* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  background-color: #020527;
  color: white;
  scroll-behavior: smooth;
}

nav {
  background-color: #020527;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

nav ul li {
  font-size: 1.2rem;
}

nav ul li a:hover {
  background-color: #272b55;
}
nav ul li a {
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

section {
  padding: 8rem 4rem;
}
.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
}

.image-container {
  width: 25%;
  aspect-ratio: 5/7;
  border: rgb(255, 255, 255 / 0.15);
  border-radius: 1rem;
  background-color: rgb(255, 255, 255 / 0.15);
  overflow: hidden;
  position: relative;
}
.image {
  height: 100%;
  width: 100%;
  background-image: url("./assets/CAM09272023131005.jpeg");
  background-size: cover;
  filter: sepia(450%) hue-rotate(200deg);
}
.image-overlay {
  background: linear-gradient(
    rgb(2, 5, 39) 2px,
    transparent 2px,
    transparent 16px
  );
  height: 100%;
  width: 100%;
  background-size: 100% 16px;
  animation: pan-overlay 11s infinite linear;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}
@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -100%;
  }
}

.about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.about h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
}

.card i {
  font-size: 3rem;
}

.about .card {
  width: 15%;
  aspect-ratio: 5/7;
  flex-direction: column;
  margin-top: 4rem;
}

.skills {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template: 1fr 1fr/ 1fr 1fr 1fr;
}

.skills .section-title {
  grid-area: 1 / 1 / span 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.skills .card {
  flex-direction: row;
  aspect-ratio: 16/9;
}

.contact {
  min-height: 600px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.contact a {
  text-decoration: none;
}

footer {
  text-align: center;
}

.goto-top {
  position: fixed;
  overflow: hidden;
  z-index: 10;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  left: 90%;
  top: 90%;
}
